
@{
    ViewData["Title"] = "AllForums";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
 
<h2>Forum</h2>
<ul>
    <li> <a asp-controller="ForumCategorys" asp-action="Create">Create New Category</a></li>
</ul>